/*폰트*/

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

/*초기화*/

*{
	margin: 0;
	padding: 0;
	/*border: 1px solid gray;*/
	box-sizing: border-box;
	font-family: 'Pretendard-Regular';
}
html,body{
	background-color: white;
	color: black;
	width: 100%;
	height: 100%;
/*	overflow-x: hidden;*/
}
a{
	text-decoration: none;
	color: white;
}
h1{
	font-weight: 900;
}
#wrapper{
	width:100%;
	position: relative;
/*	background-color: #0f0f0f;*/

}
.font24{
	font-size: 24px;
}
.font20{
	font-size: 20px;
}
.font42{
	font-weight: 900;
	font-size: 42px;
}
.font18{
	font-size: 18px;
}
.font14{
	font-size:14px;
}
.colorw{
	color: white;
}
.colorp{
	color: #087eff;
}
.colorb{
	color: #0f0f0f;
}
.colorg{
	color: gray;
}
.bgb{
	background-color: #0f0f0f;;
}
.bgp{
	background-color: #087eff;
}
.bgg{
	background-color: #1C212d;
}

.active{
	font-weight: 900;
	background-color: #E3E0E0;
}

#wrapper{
	width: 100%;
}
/*헤더 css*/
.hidewrap{
	background-color: black;
	opacity: 0.5;
	position: fixed;
	width: 1000px;
	height: 1000px;
	z-index: 9;
	top: 0;
}
/*네비게이션 바 css--------------------------------------------------------*/
.headerwrap{
	width: 100%;
	height: 70px;
	line-height: 70px;
	display: flex;
	font-weight: 900;
	background-color: white;
	position: fixed;
	z-index: 9;
}
.imgbox{
	width: 100%;
	padding: 0 30px;
}
.headerwrap .nav{
	width: 40%;

}
.headerwrap .nav a,.headerwrap .nav p{
	cursor: pointer;
	margin-right: 25px;
	padding: 0 0px;
}

.headerwrap .nav a:hover,.headerwrap .nav p:hover{
	color: #BBBBBB;
}

.headerwrap img{
	width: 100px;
}
.open{
	color: black;
	padding: 10px;
	font-size: 30px;
	line-height: 50px;
	cursor: pointer;
}
.closeOpen, .nav a{
	background-color: white;
	color: black;
}
.closeOpen{
	width: 30%;
	position: fixed;
	top: 0;
	right: 0;
	height: 1000px;
	z-index: 99;
}
.close{
	width: 100%;
	font-size: 30px;
	text-align: right;
	padding: 20px;
	cursor: pointer;
}
.nav{
	flex-direction: column;
	position: relative;
}
.nav a{
	margin-bottom: 20px;
	padding-left: 40px;
}
.textbox a:hover{
	background-color: #E3E0E0;
}
.textbox{
	display: flex;
	width: 60%;
	justify-content: flex-end;
	margin-right: 30px;
	background-color: white;
}
.textbox a{
	font-size: 14px;
	color: black;
	margin-top: 40;
	text-align: center;
	width: 100%;	
}


/*#first 섹션--------------------------------------------------------*/
#first{
	padding-top: 200px;
	width: 100%;
	background-color: black;
	height: 1250px;

}
.firsttextbox{
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
.firsttextbox h1{
	width: 100%;
	margin-bottom: 50px;
}
.firsttextbox p{
	width: 100%;
}
.videobox{
	width: 100%;
	margin-bottom: 100px;
}
iframe{
	width: 90%;
	height: 600px;
	display: block;
	margin: 0 auto;
}
.buttonwrap{
	width: 100%;
	position: relative;
	padding-right: 30px;
	display: flex;
	justify-content: flex-end
}
.button{
	width: 130px;
	height: 50px;
	border: 1px solid white;
	background-color: white;
	position: relative;
	border-radius: 10px;
	text-align: center;
	line-height: 50px;
}
.button a{
	color: black;
	font-size: 14px;
}
/*#second 섹션--------------------------------------------------------*/
#second{
	width: 100%;
}
.seconddivwrap{
	width: 90%;
	margin: 0 auto;
	padding-top: 70px;
}
.seconddiv{
	width: 60%;
	max-width: 720px;
	margin-bottom: 100px;
}
.seconddiv h3{
	font-weight: 900;
}
.seconddivindiv{
	width: 100%;
	margin: 30px 0;
}
.seconddivwrap:nth-of-type(2){
	display: flex;
	justify-content: flex-end;
	margin-bottom: 200px;
}
.seconddivwrap:nth-of-type(2) h3{
	text-align: right;
}
/*#year 섹션--------------------------------------------------------*/
#year{
	width: 100%;
	margin-bottom: 200px;
}
.yearwrap{
	width: 95%;
	display: flex;
	margin: 0 auto;
}
hr{
	background-color: black;
    height:2px;
    border:0;
}
.yeardiv{
	padding: 10px;
	width: 50%;
}
.yeardiv h2{
	font-weight: 900;
}
.content{
	display: flex;
	margin-bottom: 10px;
}
.content p{
	color: gray;
	margin-right: 10px;
	font-weight: 900;
}
/*#wecard 섹션--------------------------------------------------------*/
#wecard{
	width: 100%;
}
.wecarddiv{
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.wecarddiv h2{
	font-weight: 900;
	margin-bottom: 100px;
}
.wecarddiv h2:nth-of-type(2){
	text-align: right;
}
.wecardwrap{
	display: flex;
	justify-content: space-around;
	margin-bottom: 200px;
	flex-wrap: wrap;
}
.wecard{
	padding: 10px;
	width: 33%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.wecardwrap:nth-of-type(1) span{
	text-align: center;
	font-weight: 900;
}
.wecard img{
 width: 100%;
 border-radius: 10px;

}
.wecard p{
	color: gray;
	font-weight: 900;
	margin: 30px 0 20px;
	font-size: 18px;
}
.wecard strong{
 font-size: 20px;
}
.wecard span{
	
	margin: 30px 0 40px;
	font-size: 15px;
}
.wecard a{
	display: block;
	width: 100%;
}
.wecard button{
	width: 100%;
	height: 40px;
	border: none;
	background-color: #087eff;
	color: white;
	border-radius: 10px;
}
.wecard h3{
	font-weight: 900;
	margin-top: 30px;
	font-size: 24px;
}
/*#last 섹션--------------------------------------------------------*/
#last{
	width: 100%;
	background-color: black;
	padding: 50px;
}
.lastwrap{
	text-align: center;
	width: 50%;
	color: white;
	margin: 50px auto;
	
}
.lastwrap h2{
	margin-bottom: 50px;
	font-weight: 900;
}
.lastwrap button{
	width: 190px;
	height: 40px;
	border: none;
	background-color: #087eff;
	color: white;
	border-radius: 10px;
	font-weight: 900;
}
/*#footer 섹션--------------------------------------------------------*/
footer{
	width: 100%;
	
}
.footerwrap{
	width: 90%;
	padding: 120px 0px 50px;
	font-size: 13px;
	font-weight: 900;
	color: gray;
	margin: 0 auto;
}
.up{
	background-color: gray;
}
.up span{
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	position: fixed;
	font-size: 40px;
	bottom: 20px;
	right: 20px;
	background-color: gray;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	display: none;
}
/***************************************************/
/******************미디어 커리***********************/
/***************************************************/

/*****************************큰모니터 크기*************/
@media screen and (min-width:960px){
/*헤더 데스크탑 미디어 커리 -----------------------------------------*/
.open{
	display: none;
}
.textbox{
	display: flex;
	width: 60%;
	justify-content: flex-end;
}
.seconddivwrap,.wecarddiv,.yearwrap,.footerwrap{
	width: 70%;
}

}
/*****************************작은 모니터 크기*************/
@media screen and (min-width:768px) and (max-width:959px){
	/*헤더 테블릿 미디어 커리 -----------------------------------------*/
	.textbox{
		display: none;
	}
	.open{
		display: block;
	}

}
/*****************************스마트폰 크기*************/
@media screen and (max-width:767px){
	/*헤더 스마트폰 미디어 커리 -----------------------------------------*/
	.textbox{
		display: none;
	}
	.open{
		display: block;
	}
	iframe{
		width: 100%;
		height: 300px;
		display: block;
		margin: 0 auto;

	}
	#first{
		height: 950px;
	}
	.closeOpen{
		width: 50%;
		position: fixed;
		top: 0;
		right: 0;
		height: 1000px;
	}
	.seconddiv{
		width: 100%;
	}
	.yearwrap{
		display: block;
	}
	.yeardiv{
		width: 100%;
	}
	.wecard{
		width: 100% !important;
	}
	.lastwrap{
		width: 95%;
	}
	footer{
		padding: 80px 0px 0;
	}
}